<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Provinence Driving Test</title>
</head>
<body>
    
<div style="background-color:powderblue ; width: auto;text-align: center;color:r;">
    <header>
        <h1>WELCOME TO ONTARIO DRIVING TEST CENTRE</h1>
        <%- include('partials/navbar') %>
    </header>
</div>
   
        
<div style="background-color: burlywood;width:auto;height:auto;padding-top:20px;padding-bottom:30px ;">
    <main>
     <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus suscipit, lorem maximus feugiat laoreet, ipsum metus pharetra ex, a convallis sem leo et sem. Sed sodales orci vitae est faucibus condimentum. In mollis, sapien non finibus gravida, mi risus imperdiet nisl, sit amet mattis nisl eros et metus. Aenean tellus nulla, tincidunt dignissim facilisis rhoncus, molestie egestas ex. Integer at risus aliquam, efficitur turpis sed, pretium diam. Integer tempor commodo nisi, a lacinia odio semper sit amet. Aenean at aliquet ipsum. Duis tincidunt laoreet purus eget fermentum. In maximus velit sit amet velit finibus, id tincidunt velit pharetra. Maecenas quis mauris ut sapien fermentum rutrum non vitae metus. Aliquam gravida tempor justo, ac rutrum neque commodo ut. Nulla tincidunt dui sem, id pharetra nisi euismod at. Vestibulum suscipit turpis id turpis vulputate, quis condimentum turpis tincidunt. Vestibulum euismod ante non lorem porta, non gravida dolor sollicitudin. Ut vel facilisis odio.

        Curabitur mollis pellentesque est ac dapibus. Pellentesque efficitur ante in mauris tincidunt suscipit. Aenean a ultricies dui. Nam viverra ipsum eu quam accumsan lobortis eget vitae velit. Suspendisse posuere mattis erat at dignissim. Suspendisse ut massa lobortis, commodo lectus ut, aliquet risus. Donec lacinia, eros vitae dictum mollis, diam enim rutrum augue, eget placerat nisl dui at purus. Suspendisse potenti. Nulla tellus diam, tincidunt sit amet neque convallis, elementum placerat ligula. Integer vel nisl orci. Phasellus vel sem arcu. Ut gravida id sem quis pellentesque. Phasellus tristique eros pharetra felis elementum, a ornare lectus vulputate. Cras dignissim libero a porttitor finibus. Aliquam luctus blandit molestie. Nam venenatis metus lectus, vel condimentum mi tempus sit amet. </p> </div> 
   </main>
  
</div>
<%- include('partials/footer') %>
</body>
