<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Provinence Driving Test</title>
  
</head>
<body>
  <div style="background-color:powderblue ; width: auto;text-align: center;color:r;">
    <header>
        <h1>WELCOME TO ONTARIO DRIVING TEST CENTRE</h1>
        <%- include('partials/navbar') %>
        <nav>
          <a href="/login">Login</a>
          <a href="/signup">Sign Up</a>
        </nav>
    </header>
</div>
<div style="background-color: burlywood;width:auto;height:auto;padding-top:20px;padding-bottom:30px ;">
  <h1>  Login </h1>
  <form action="/login/users" method="POST">
    <label>User: <input type="text" name="username"></label>
    <label>Password: <input type="password" name="password"></label>
    <input type="submit" value="submit">
  </form>
  
</div>  
<%- include('partials/footer') %>
</body>
</html>